/*
Author: Logan Lewis
Date: 2/3/2024
File: styles.css
*/

/* Reset */
body, header, nav, main, footer, h1, div, img{
    margin: 0;
    padding: 0; 
    border: 0;
}

/* Style rules for header */
header {
    background-color:#1d1d20;
    color: #d1d1d1;
    padding: 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

header img {
    max-width: 100%;
    height: auto;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 36px;
}

header p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Style rules for nav */
nav {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Style rules for main */
body {
    font-family: Montserrat-Regular, Verdana;
    background-color: #1d1d20;
    color: #d1d1d1;
}

body p{
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 6px;
}

.external-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

#contact {
    text-align: center;
}

#contact a {
    color: #fff;
    text-decoration: none;
}

.mobile-hide {
    display: none;
}

.current-task {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    background-color: #fafafa;
    color: black;
    
}

.current-task li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.current-task a {
    color: #333;
    text-decoration: none;
}

.table {
    margin: 20px;
}

.languages-table {
    width: 100%;
    border-collapse: collapse; 
    margin: 0 auto; 
}

.languages-table th, .languages-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.languages-table th {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
}

.languages-table td {
    font-size: 14px;
}

.contact-info {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#map {
    width: 90%;
    height: 400px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}


footer {
    margin-top: auto;
    height: 75px;
    background-color: #333;
    color: #d1d1d1;
    text-align: center;
    padding: 10px;
}


footer p{
    font-size: 0.75em;
    text-align: center;
    color: #d1d1d1;
    padding: 0 1em;
}

footer p a {
    color: #d1d1d1;
    text-decoration: none;
}